@page
@model IndexModel
@{
    ViewData["Title"] = "Scores";
}



<div class="container">
    <h1 class="text-center"><i style="color:green">Stay home</i> or <b style="color:rgba(255,67,0,1)">win the race</b></h1>
    <div class="container" style="width:60%;height:1.7em;background: rgb(13,185,90);
background-image: linear-gradient(90deg, rgba(13,185,90,1) @(Model.TotalRecovered)%, rgba(255,67,0,1) @(Model.TotalDeath)%);">
        <b>Recovered @(Model.TotalRecovered)%</b>
        <b style="left:66%;position:relative;">Death @(Model.TotalDeath)%</b>
    </div>
    <div class="text-center mt-1"> <i style="border:0.5px solid black;background-color:lavender;padding:0.3em;">Total: @Model.countries.Sum(i => i.Cases.Deaths + i.Cases.RecoveredCases)</i></div>
    <span style="position:absolute;top:0.05em;right:0.8em;">
        @DateTime.Now.ToString("dd/MM/yyyy")
    </span>
    <div class="text-center">
        Contribute


        <a href="https://github.com/Tekaichi/Covid19HorseRace" target="_blank">
            <img alt="github " src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="width:2em;height:2em" />
        </a>





        <br />
        [<a href="https://www.worldometers.info/coronavirus/" style="text-decoration:none" target="_blank">source</a>]

        <br />
    </div>


</div>
<div class="container position-absolute border-top-0 border-left-0">
    @foreach (var name in Model.Collaborators)
    {
        <i class="names">@name</i>

    }
</div>
<br />
<div class="text-center">
    <span class="alert-info p-1" style="margin-top:0.5em">
        <i>Active Cases </i>/ <b>Total Cases</b>
    </span>
</div>



<table class="board table-hover">
    <tr>
        <th></th>
        <th></th>
        <th>&nbsp;&nbsp;&nbsp;<i>Today</i></th>
    </tr>
    @{
        int dash_ = 0;
        int horse_mov = 0;
    }
    @foreach (var country in Model.countries)
    {

        horse_mov = (horse_mov + 1) % 6;

        <tr style="height:4.15em;">
            <td style="width:8%;" class="align-items-center text-sm-right">
                <b>@country.Name</b>
            </td>

            <td class="player align-items-center" style="position:relative;">

                <div style="position:absolute;bottom:0.012em;" class="active">

                    @for (var i = 0; i < country.Distance; i++)
                    {
                        dash_ = (dash_ + 1) % 5;
                        <b class="line dash_@dash_" style="opacity:0.5;">.</b>
                    }

                    <img class="horse horse-movement-@horse_mov" src=@country.Horse alt="race">

                    <span class="number"><i>@country.Cases.ActiveCases</i>/<b>@country.Cases.TotalCases</b></span>

                </div>
                @if (country.Cases.Deaths != 0)
                {
                    <div style="position:absolute;top:0.015em;" class="deaths">

                        @for (var i = 0; i < country.DeathDistance; i++)
                        {
                            dash_ = (dash_ + 1) % 5;
                            <b style="opacity:0.5;color:red;" class="dash_@dash_">.</b>

                        }

                        <img class="skull" style="width:1.5em;height:1.5em;margin:0 auto;border-radius:0.2em;" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/209/skull_1f480.png" alt="skull">
                        <i class="number-death">@country.Cases.Deaths</i>
                    </div>
                }

                @if (country.Cases.RecoveredCases != 0)
                {
                    <div style="position:absolute;top:1.2em;" class="deaths">

                        @for (var i = 0; i < country.RecoveredDistance; i++)
                        {
                            dash_ = (dash_ + 1) % 5;
                            <b style="opacity:0.5;color:green;" class="dash_@dash_">.</b>

                        }

                        <img class="skull" style="width:1.5em;height:1.5em;margin:0 auto;border-radius:0.2em;" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/241/flexed-biceps_1f4aa.png" alt="recovered">
                        <i class="number-death">@country.Cases.RecoveredCases</i>
                    </div>
                }
            </td>

            <td style="width:6%;">
                @if (country.Cases.NewCases != 0)
                {
                    <span class="line" style="border:1px solid black;border-radius:1em;background-color:yellow;padding:0.5em;">+@country.Cases.NewCases</span>
                }

            </td>
        </tr>
    }

</table>


